<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Automation Suite">

  <listeners>
      <listener class-name="utils.ExtentReporter"/>
  </listeners>

  <test name="Regression Tests">
    <classes>
      <class name="testcases.AccountTest"/>
      <class name="testcases.UserJourney1"/>
      <class name="testcases.SchemaTest"/>
      <class name="testcases.FeedbackTest"/>
      <class name="testcases.TransferTest"/>
      <class name="testcases.AdminTest"/>
      <class name="testcases.AuthTest"/>
    </classes>
  </test>

</suite>